__pycache__/
__pycache__
res

*.pyc
__pycache__/Enemy.cpython-311.pyc
__pycache__/config.cpython-311.pyc
__pycache__/config.cpython-311.pyc
__pycache__/Enemy.cpython-311.pyc
__pycache__/Player.cpython-311.pyc
__pycache__/Sprite.cpython-311.pyc
__pycache__/Utils.cpython-311.pyc
